body{
    background: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0 auto;
    background: rgb(159, 155, 42);
    color: white;
    text-align: center;
    padding: 15px;
}
.products{
    max-width: 1240px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.products{
    background: whitesmoke;
    border: 1px solid burlywood;
    border-radius: 10px;
}
img{
    width: 100px;
    height: 150px;
}